<% layout('layouts/boilerplate') -%>
<div class="row">
    <h1 class="text-center">Modifier Véhcule</h1>
    <div class="col-6 offset-3">
        <form action="/vehcules/<%=vehcule._id%>?_method=PUT" method="post" class="needs-validation" novalidate="novalidate">

            <div class="mb-3">
                <label class="form-label" for="discreption">Discreption:</label>
                <input class="form-control" type="text" id="discreption" name="vehcule[discreption]" value=<%=vehcule.discreption%> required="required">
                    <div class="invalid-feedback">
                        Saisissez la discreption du vehicule.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="type">Type:</label>
                    <input class="form-control" type="text" id="type" name="vehcule[type]" value=<%=vehcule.type%>>
                        <div class="invalid-feedback">
                            Saisissez le type du vehicule.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="cost">Cout:</label>
                        <input class="form-control" type="text" id="cost" name="vehcule[cost]" value=<%=vehcule.cost%> required="required">
                            <div class="invalid-feedback">
                                Saisissez le cout du vehicule.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="image">Photo:</label>
                            <input class="form-control" type="text" id="image" name="vehcule[image]" value=<%=vehcule.image%> required="required">
                                <div class="invalid-feedback">
                                    Saisissez la photo du vehicule.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="capacité">Poids maximum:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Tonnes</span>
                                    <input class="form-control" type="text" id="capacité" name="vehcule[poidMaximum]" value=<%=vehcule.poidMaximum%> required="required">
                                        <div class="invalid-feedback">
                                            Saisissez la capacité du vehicule.
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="capacité">Dimension maximum:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">M3</span>
                                        <input class="form-control" type="text" id="capacité" name="vehcule[dimentionMaximum]" value=<%=vehcule.dimentionMaximum%> required="required">
                                            <div class="invalid-feedback">
                                                Saisissez la capacité du vehicule.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-3">
                                        <a class="btn btn-primary" href="/vehcules/<%=vehcule._id%>">Retour</a>
                                        <button class="btn btn-success" type="submit">Modifier</button>
                                    </div>
                                </form>
                            </div>
                        </div>
